<ul id="artists">
  <li class="ads artist">
    <a href="http://shop36674955.taobao.com">
      <%= image_tag 'maktaobao.png' %>
    </a>
  </li>
  <% @artists.each do |artist| %>
  <li class="artist">
    <a href="<%= url_for artist %>">
      <%= image_tag artist.thumbnail %>
      <h1><%= artist.name %></h1>
    </a>
  </li>
  <% end %>
</ul>
