<ul id="videos">
  <li class="video">
    <%= image_tag @artist.thumbnail %>
  </li>
  <% @artist.videos.each do |video| %>
  <li class="video">
    <a href="<%= url_for video %>">
      <%= image_tag video.thumbnail %>
      <h1><%= video.title %></h1>
    </a>
  </li>
  <% end %>
</ul>
