<ul id="videos">
  <li class="box">
    <%= image_tag @artist.thumbnail %>
  </li>
  <% @artist.videos.each do |video| %>
  <li class="box">
    <a href="<%= url_for video %>">
      <%= image_tag video.thumbnail %>
      <h1><%= video.title %></h1>
    </a>
  </li>
  <% end %>
</ul>
<% content_for :bottom do %>
<script>
$(function() {
  $(".box h1").hide();
  $(".box").hover(function() {
    $(this).find("h1").fadeIn();
  }).mouseout(function() {
    $(this).find("h1").fadeOut();
  });
});
</script>
<% end %>
