body {
  padding:0;
  width:100%;
  border-top:6px solid #c41101;
}

#content {
  padding-top:24px;
  background:#888888;
  box-shadow:inset 0px 3px 5px -2px #555555, inset 0px -3px 5px -2px #555555;
  -webkit-box-shadow:inset 0px 3px 5px -2px #555555, inset 0px -3px 5px -2px #555555;
}

#content a {
  text-decoration:none;
}

#top, #bottom {
  width:806px;
  padding:10px 0;
}

#top {
  margin:12px auto 16px;
  background:url(http://markson.hk/static/images/marksonz.png) 0 18px no-repeat;
}

#top hgroup {
  text-indent:-9999px;
}

#bottom {
  margin:24px auto;
  text-align:center;
  font-family:'Arvo', helvetica, arial, serif;
}

.flash {
  text-align:center;
  color:#ffffff;
  margin-bottom:12px;
}

.notice {
  background:#1be022;
}

.alert {
  background:#e01b1b;
}

#artists, #videos {
  width:826px;
  margin:0 auto;
  padding-bottom:1px;
}

#video {
  width:826px;
  margin:0 auto;
  margin-top:-24px;
  padding:0 auto;
  text-align:center;
  background:#000000;
  box-shadow:3px 0px 2px -1px #333333, -3px 0px 2px -1px #333333;
  -webkit-box-shadow:3px 0px 2px -1px #333333, -3px 0px 2px -1px #333333;
}

#video h1 {
  position:absolute;
  overflow:hidden;
  width:814px;
  font-size:32px;
  line-height:36px;
  padding:6px;
  color:#ffffff;
  background:#000000;
  font-family:'Arvo', helvetica, arial, serif;
  text-shadow:0 -2px 0 #555555;
}

.box {
  margin:0 10px 24px 10px;
  display:inline-block;
  list-style:none;
  width:252px;
  height:189px;
  box-shadow:0 0 6px #000000;
  -webkit-box-shadow:0 0 6px #000000;
  font-family:'Arvo', arial, serif;
}

.box {
  *display:inline;
}

.ads {
  width:244px;
  height:181;
  box-shadow:0 0 6px #b20400, inset 0 0 6px #888888;
  -webkit-box-shadow:0 0 6px #b20400, inset 0 0 6px #888888;
  background:url(http://markson.hk/static/images/makadsbg.png) repeat;
  border:4px solid #ffffff;
}

.ads {
  width:244px;
  height:181px;
}

.box h1 {
  width:252px;
  height:40px;
  line-height:40px;
  font-size:22px;
  text-align:center;
  position:absolute;
  margin-top:72px;
  background:#000000;
  opacity:0.6;
  color:#ffffff;
}

.box img {
  width:252px;
  height:189px;
  position:absolute;
}

.box span {
  position:relative;
  bottom:80px;
}

.count {
  position:relative;
  float:right;
  top:-10px;
  right:-10px;
  width:27px;
  height:27px;
  line-height:27px;
  border: 2px solid #ffffff;
  border-radius:16px;
  background:#c41104;
  color:#ffffff;
  font-size:18px;
  font-family:sans-serif;
  text-align:center;
  box-shadow:0 0 6px #000000;
  -webkit-box-shadow:0 0 6px #000000;
}

#poster {width:100%;}
#poster a {background:#000000 url(http://markson.hk/static/images/poster.jpg) no-repeat;height:100px;display:block;width:100%;}
#poster span {cursor:pointer;color:#ffffff;height:20px;line-height:22px;border-radius:5px;background:#000000;float:right;padding:1px 6px;position:relative;top:5px;right:5px;opacity:0.36}

#top ul {list-style:none;}
#top nav {background:#ffffff;border:1px solid #cccccc;font-family:'Arvo';}
#top nav a {color:#666666;text-decoration:none;}
#top nav li {background-color:#ffffff;text-align:center;}
#top nav>ul>li {background-image:url(http://markson.hk/static/images/uli.png);background-repeat:no-repeat;background-position:right center;display:inline-block;position:relative;padding:8px 16px 8px 8px;}
#top nav>ul>.sub {background-image:url(http://markson.hk/static/images/adx.png), url(http://markson.hk/static/images/uli.png);background-repeat:no-repeat, no-repeat;background-position:6px center, right center;padding-left:24px;}
#top nav>ul>#home {background-image:url(http://markson.hk/static/images/home.png), url(http://markson.hk/static/images/uli.png);background-repeat:no-repeat, no-repeat;background-position:13px center, right center;width:32px;text-indent:-9999px;}
#home a {display:block}
.sub ul {display:none;position:absolute;top:40px;left:-15px;border:2px solid #cccccc;z-index:9999;}
.sub_li {padding:8px;border-top:1px solid #cccccc;width:200px;}
.sub_li:first-child {border-top:none;}
.sub_li:hover {background:#dddddd !important;}
