<article id="video">

<h1><%= @video.title %></h1>

<a
  href="#"
  style="display:block;width:826px;height:688px"
  id="player"
  data-sid="<%= @video.video_token %>">
</a>

<script>
  $(document).ready(function() {
    $.ajaxf.install('/static/swf/ajax.swf');
    $.ajaxf.ready(function() {
      var b = $("#player").attr('data-sid');
      $.ajaxf.getJSON('http://v.youku.com/player/getPlayList/VideoIDS/' + b, '', function(r) {
        var _seed = r.data[0].seed;
        var _key1 = r.data[0].key1;
        var _key2 = r.data[0].key2;
        var _fid = r.data[0].streamfileids.mp4;

        $("#player").attr('href', ykmp4(_fid, _seed, _key1, _key2));
        flowplayer("player", "/static/swf/flowplayer-3.2.7.swf", {
          clip: {
            scaling: 'fit',
          },
        });
      });
    });
  });
</script>
<script>
</script>

</article>
