<% content_for :head do %>
<%= javascript_include_tag "crossxhr", "json2" %>
<% end %>

<article id="video">

<h1><%= @video.title %></h1>

<a
  href="#"
  style="display:block;width:826px;height:688px"
  id="player">
</a>

<script>
  head.ready(function() {
    //$.ajaxf.install('/swf/ajax.swf');
    //$.ajaxf.ready(function() {
    //  var b = $("#player").attr('data-sid');
    //  $.ajaxf.getJSON('' + b, '', function(r) {
    //    var _seed = r.data[0].seed;
    //    var _key1 = r.data[0].key1;
    //    var _key2 = r.data[0].key2;
    //    var _fid = r.data[0].streamfileids.mp4;

    //    $("#player").attr('href', ykmp4(_fid, _seed, _key1, _key2));
    //  });
    //});
    var uri = "http://v.youku.com/player/getPlayList/VideoIDS/<%= @video.video_token %>"
    var request;

    function callback() {
      var res = JSON.parse(request.responseText).data[0];
      var _seed, _key1, _key2, _fid;
      _seed = res.seed;
      _key1 = res.key1;
      _key2 = res.key2;
      _fid  = res.streamfileids.mp4;
      document.getElementById('player').setAttribute("href", ykmp4(_fid, _seed, _key1, _key2));
      flowplayer("player", "<%= asset_url %>/swf/flowplayer-3.2.7.swf", {
        clip: {
          scaling: 'fit'
        }
      });
    }
    function req() {
      request = new CrossXHR();
      request.onreadystatechange = callback;
      request.open('GET', uri);
      request.send();
    }
    req();
 });
</script>

</article>
